body {
    background-image: url(IndexBackground.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.top {
    text-align: center;
    position: relative;
    bottom: 700px;
}

.Title {
    text-align: center;
    position: absolute;
    color: white;
    left: 725px;
    top: 175px;
}

.Github {
    text-align: center;
    background: rgba(0,0,0,0);
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    color: white;
    background-image: url(https://i.imgur.com/miCzb9a.png);
    background-repeat: round;
    display: block;
    position: absolute;
    top: 350px;
    left: 795px;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 99%;
}